In [200]:
import pandas as pd
import numpy as np
import re

# Uniformize county names in apple and google datasets

In [3]:
mobility_apple = pd.read_csv('./data/mobility_apple.csv')

In [4]:
mobility_apple

,county,transportation_type,state,1/13/2020,1/14/2020,1/15/2020,1/16/2020,1/17/2020,1/18/2020,1/19/2020,...,7/23/2021,7/24/2021,7/25/2021,7/26/2021,7/27/2021,7/28/2021,7/29/2021,7/30/2021,7/31/2021,8/1/2021
0,Abbeville County,driving,South Carolina,100,110.87,112.13,119.64,147.90,118.02,89.97,...,208.20,204.49,153.93,177.00,179.73,181.14,181.63,192.99,212.41,166.20
1,Acadia Parish,driving,Louisiana,100,115.17,120.94,124.35,153.41,135.03,103.72,...,222.19,203.70,175.49,188.67,176.24,177.71,203.61,232.62,207.41,168.31
2,Accomack County,driving,Virginia,100,98.93,99.53,107.75,142.90,103.14,109.17,...,433.43,578.28,463.73,313.67,291.54,306.15,314.67,427.63,580.53,430.41
3,Ada County,driving,Idaho,100,99.89,105.05,108.43,121.67,111.69,75.31,...,205.15,181.25,140.53,179.47,182.44,187.67,189.01,201.54,176.21,134.89
4,Ada County,walking,Idaho,100,109.71,117.67,118.90,151.91,150.61,90.35,...,291.72,284.98,185.40,228.36,237.68,240.70,250.07,290.68,269.38,182.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,York County,walking,Pennsylvania,100,110.22,121.82,109.72,140.72,102.87,117.24,...,268.07,265.41,175.75,219.12,211.16,214.36,208.12,272.60,255.08,176.57
2615,Young County,driving,Texas,100,98.85,97.76,92.21,115.79,128.73,92.48,...,213.08,177.17,150.34,181.17,162.47,176.22,172.76,218.90,184.55,152.44
2616,Yuba County,driving,California,100,102.98,103.10,114.08,118.83,121.49,93.29,...,188.06,174.85,151.90,159.70,154.49,156.10,177.97,179.92,168.56,147.52
2617,Yuma County,driving,Arizona,100,101.82,106.67,108.93,135.92,124.77,92.88,...,157.59,139.03,124.56,128.68,122.29,123.48,131.83,155.54,135.49,121.73
2618,Yuma County,walking,Arizona,100,95.88,98.97,92.88,117.25,128.93,79.23,...,157.34,139.40,113.05,146.95,141.72,122.49,136.48,158.88,153.48,109.44

In [13]:
mask = mobility_apple['county'].apply(lambda s: True if (' County' in s or ' Parish' in s) else False)

In [22]:
apple_weird_names = mobility_apple['county'][mask == False]

In [148]:
google_counties = pd.read_csv('./data/google_counties.csv')

In [149]:
google_counties.shape

(1339312, 11)

In [150]:
mask2 = google_counties['county'].apply(lambda s: True if (' County' in s or ' Parish' in s) else False)

In [151]:
google_weird_names = google_counties['county'][mask2 == False]

In [152]:
google_weird_names.value_counts()

Alexandria                 534
Baltimore                  534
Fairbanks North Star       534
Lynchburg                  534
Suffolk                    534
Chesapeake                 534
Portsmouth                 534
Harrisonburg               534
Norfolk                    534
Matanuska-Susitna          534
Richmond                   534
St. Louis                  534
Fredericksburg             534
Manassas                   534
Anchorage                  534
Hampton                    534
Newport News               534
Virginia Beach             534
Roanoke                    534
Carson City                531
Danville                   530
Charlottesville            528
Petersburg                 528
Kenai Peninsula Borough    527
Fairfax                    523
Hopewell                   520
Colonial Heights           518
Winchester                 515
Manassas Park              509
Staunton                   509
Bristol                    509
Falls Church               509
Waynesboro                 509
Martinsville               509
Juneau                     509
Williamsburg               509
Salem                      509
Galax                      504
Emporia                    493
North Slope                478
Radford                    444
Franklin                   398
Ketchikan Gateway          377
Kodiak Island              376
Poquoson                   375
Covington                  372
Bethel                     365
Valdez-Cordova             361
Buena Vista                359
Sitka                      234
Norton                     115
Lexington                   88
Southeast Fairbanks         13
Nome                         1
Name: county, dtype: int64

In [54]:
def uniform_names(name):
    newname = name
    if 'Manassas Park' == name:
        for i in apple_weird_names:
            if name in i:
                newname = i
    elif 'Manassas' == name:
        for i in apple_weird_names:
            if name in i and i == 'Manassas City':
                newname = i
    else:
        for i in apple_weird_names:
            if name in i:
                newname = i
    return newname

In [153]:
google_cnames_adj = (google_counties['county'].apply(lambda s: uniform_names(s)))

In [154]:
google_cnames_adj[mask2 == False].value_counts()

Roanoke City                    534
St. Louis City                  534
Anchorage Municipality          534
Newport News City               534
Chesapeake City                 534
Alexandria City                 534
Harrisonburg City               534
Lynchburg City                  534
Manassas City                   534
Norfolk City                    534
Baltimore City                  534
Richmond City                   534
Fairbanks North Star Borough    534
Virginia Beach City             534
Suffolk City                    534
Portsmouth City                 534
Hampton City                    534
Matanuska-Susitna Borough       534
Fredericksburg City             534
Carson City                     531
Danville City                   530
Charlottesville City            528
Petersburg City                 528
Kenai Peninsula Borough         527
Fairfax City                    523
Hopewell City                   520
Colonial Heights City           518
Winchester City                 515
Williamsburg City               509
Staunton City                   509
Waynesboro City                 509
Martinsville City               509
Salem City                      509
Falls Church City               509
Manassas Park City              509
Bristol City                    509
Juneau City and Borough         509
Galax                           504
Emporia                         493
North Slope                     478
Radford                         444
Franklin                        398
Ketchikan Gateway               377
Kodiak Island                   376
Poquoson                        375
Covington                       372
Bethel                          365
Valdez-Cordova                  361
Buena Vista                     359
Sitka                           234
Norton                          115
Lexington                        88
Southeast Fairbanks              13
Nome                              1
Name: county, dtype: int64

In [155]:
google_counties['county'] = google_cnames_adj

# Clean county areas

In [81]:
land_area = pd.read_csv('./data/land_area_raw.csv')

In [82]:
land_area

              region        area
0      UNITED STATES  3794083.06
1            ALABAMA    52419.02
2        Autauga, AL      604.45
3        Baldwin, AL     2026.93
4        Barbour, AL      904.52
...              ...         ...
3193  Sweetwater, WY    10491.17
3194       Teton, WY     4221.80
3195       Uinta, WY     2087.56
3196    Washakie, WY     2242.75
3197      Weston, WY     2400.07

[3198 rows x 2 columns]

In [187]:
area_mask = land_area['region'].apply(lambda s: True if (', ' in s or s == 'District of Columbia') else False)

In [188]:
area_mask

0       False
1       False
2        True
3        True
4        True
        ...
3193     True
3194     True
3195     True
3196     True
3197     True
Name: region, Length: 3198, dtype: bool

In [189]:
county_areas = land_area[area_mask == True]

In [194]:
county_areas = county_areas.rename(columns = {'region':'county'})

In [198]:
county_areas['state'] = [None]*3146

In [206]:
county_areas = county_areas.reset_index(drop = True)

In [248]:
county_areas['state'] = county_areas['county'].apply(lambda s: re.search(',\s..$', s).group(0)[2:4] if re.search(',\s..$', s) else s)

In [303]:
county_areas['state'] = county_areas['state'].apply(lambda s: abbrev_to_state(s))

In [ ]:
text_after = re.sub(regex_search_term, regex_replacement, text_before)

In [401]:
county_areas['county'] = county_areas['county'].apply(lambda s: re.sub(',\s..$', '', s))

In [403]:
county_areas

          county      area    state
0        Autauga    604.45  Alabama
1        Baldwin   2026.93  Alabama
2        Barbour    904.52  Alabama
3           Bibb    626.16  Alabama
4         Blount    650.60  Alabama
...          ...       ...      ...
3141  Sweetwater  10491.17  Wyoming
3142       Teton   4221.80  Wyoming
3143       Uinta   2087.56  Wyoming
3144    Washakie   2242.75  Wyoming
3145      Weston   2400.07  Wyoming

[3146 rows x 3 columns]

In [402]:
county_areas.to_csv('./data/county_areas_clean.csv', index = False)

In [299]:
def abbrev_to_state(s):
    for item in abbrev.items():
        if item[1] == s:
            return item[0]
    return s

In [260]:
abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [191]:
state_areas = land_area[area_mask == False]

In [192]:
state_areas

                    region        area
0            UNITED STATES  3794083.06
1                  ALABAMA    52419.02
69                  ALASKA   663267.26
99                 ARIZONA   113998.30
115               ARKANSAS    53178.62
191             CALIFORNIA   163695.57
250               COLORADO   104093.57
315            CONNECTICUT     5543.33
324               DELAWARE     2489.27
328   DISTRICT OF COLUMBIA       68.34
330                FLORIDA    65754.59
398                GEORGIA    59424.77
558                 HAWAII    10930.98
564                  IDAHO    83570.08
609               ILLINOIS    57914.38
712                INDIANA    36417.73
805                   IOWA    56271.55
905                 KANSAS    82276.84
1011              KENTUCKY    40409.02
1132             LOUISIANA    51839.70
1197                 MAINE    35384.65
1214              MARYLAND    12406.68
1239         MASSACHUSETTS    10554.57
1254              MICHIGAN    96716.11
1338             MINNESOTA    86938.87
1426           MISSISSIPPI    48430.19
1509              MISSOURI    69704.31
1625               MONTANA   147042.40
1683              NEBRASKA    77353.73
1777                NEVADA   110560.71
1795         NEW HAMPSHIRE     9349.94
1806            NEW JERSEY     8721.30
1828            NEW MEXICO   121589.48
1862              NEW YORK    54556.00
1925        NORTH CAROLINA    53818.51
2026          NORTH DAKOTA    70699.79
2080                  OHIO    44824.90
2169              OKLAHOMA    69898.19
2247                OREGON    98380.64
2284          PENNSYLVANIA    46055.24
2352          RHODE ISLAND     1545.05
2358        SOUTH CAROLINA    32020.20
2405          SOUTH DAKOTA    77116.49
2472             TENNESSEE    42143.27
2568                 TEXAS   268580.82
2823                  UTAH    84898.83
2853               VERMONT     9614.26
2868              VIRGINIA    42774.20
3005            WASHINGTON    71299.64
3045         WEST VIRGINIA    24229.76
3101             WISCONSIN    65497.82
3174               WYOMING    97813.56

In [193]:
state_areas.to_csv('./data/state_areas.csv', index = False)

# Add district of columbia to county dfs

In [160]:
google_states = pd.read_csv('./data/google_states.csv')

In [161]:
google_dc = google_states[(google_states['state'] == 'District of Columbia')==True]

In [162]:
google_dc.shape

(534, 11)

In [163]:
google_counties = google_counties.reset_index(drop = True)

In [164]:
google_counties = google_counties.append(google_dc, ignore_index = True)

In [165]:
google_counties.shape

(1339846, 11)

In [166]:
google_counties['county'] = google_counties['county'].apply(lambda s: 'District of Columbia' if pd.isnull(s) else s)

In [167]:
google_counties['county']

0                Autauga County
1                Autauga County
2                Autauga County
3                Autauga County
4                Autauga County
                   ...
1339841    District of Columbia
1339842    District of Columbia
1339843    District of Columbia
1339844    District of Columbia
1339845    District of Columbia
Name: county, Length: 1339846, dtype: object

In [308]:
pd.DataFrame.to_csv(google_counties, './data/google_counties_clean.csv', index = False)

In [134]:
apple_raw = pd.read_csv('./data/apple_raw.csv')

C:\Users\fayma\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [136]:
apple_dc = apple_raw[apple_raw['region'] == 'Washington DC']

In [172]:
apple_dc = apple_dc.drop(columns = ['geo_type', 'alternative_name'])

In [174]:
apple_dc.rename(columns={'region':'county', 'sub-region':'state'}, inplace=True)

In [176]:
apple_dc = apple_dc.drop(columns = 'country')

In [180]:
apple_dc['state'] = ['District of Columbia']*3

In [181]:
apple_dc

,county,transportation_type,state,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,...,2021-07-23,2021-07-24,2021-07-25,2021-07-26,2021-07-27,2021-07-28,2021-07-29,2021-07-30,2021-07-31,2021-08-01
928,District of Columbia,driving,District of Columbia,100.0,105.82,109.02,110.37,123.98,99.19,92.14,...,166.90,161.26,127.11,134.16,137.94,139.68,143.83,168.36,162.86,121.62
929,District of Columbia,transit,District of Columbia,100.0,100.78,103.92,105.02,112.26,96.01,87.76,...,106.04,103.34,84.88,89.94,90.34,91.83,92.78,105.62,105.37,80.36
930,District of Columbia,walking,District of Columbia,100.0,99.07,109.61,104.16,123.16,119.71,106.28,...,183.35,200.99,143.29,127.94,131.42,133.11,137.60,184.67,205.75,131.53

In [183]:
mobility_apple = mobility_apple.append(apple_dc, ignore_index = True)

In [184]:
mobility_apple.reset_index(drop = True)

,county,transportation_type,state,1/13/2020,1/14/2020,1/15/2020,1/16/2020,1/17/2020,1/18/2020,1/19/2020,...,2021-07-23,2021-07-24,2021-07-25,2021-07-26,2021-07-27,2021-07-28,2021-07-29,2021-07-30,2021-07-31,2021-08-01
0,Abbeville County,driving,South Carolina,100.0,110.87,112.13,119.64,147.90,118.02,89.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Acadia Parish,driving,Louisiana,100.0,115.17,120.94,124.35,153.41,135.03,103.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Accomack County,driving,Virginia,100.0,98.93,99.53,107.75,142.90,103.14,109.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ada County,driving,Idaho,100.0,99.89,105.05,108.43,121.67,111.69,75.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ada County,walking,Idaho,100.0,109.71,117.67,118.90,151.91,150.61,90.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2617,Yuma County,driving,Arizona,100.0,101.82,106.67,108.93,135.92,124.77,92.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2618,Yuma County,walking,Arizona,100.0,95.88,98.97,92.88,117.25,128.93,79.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2619,District of Columbia,driving,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,166.90,161.26,127.11,134.16,137.94,139.68,143.83,168.36,162.86,121.62
2620,District of Columbia,transit,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.04,103.34,84.88,89.94,90.34,91.83,92.78,105.62,105.37,80.36
2621,District of Columbia,walking,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.35,200.99,143.29,127.94,131.42,133.11,137.60,184.67,205.75,131.53

In [309]:
mobility_apple.to_csv('./data/mobility_apple_clean.csv', index = False)

# Clean zillow home indices

In [361]:
zhvi_mid = pd.read_csv('./data/zhvi_mid.csv')

In [362]:
zhvi_mid.drop(columns = ['RegionType', 'RegionID', 'SizeRank', 'StateName'], inplace = True)

In [363]:
zhvi_mid['State'] = zhvi_mid['State'].apply(lambda s: abbrev_to_state(s))

In [382]:
zhvi_mid_clean = pd.merge(zhvi_mid.iloc[:, 0:5], zhvi_mid.iloc[:, 281:], left_index = True, right_index = True)

In [383]:
zhvi_mid_clean.rename(columns={'RegionName':'county', 'State':'state'}, inplace=True)

In [387]:
zhvi_mid_clean.to_csv('./data/zhvi_mid_clean.csv', index = False)

In [388]:
# same thing for low and high tier

zhvi_high = pd.read_csv('./data/zhvi_high.csv') 
zhvi_high.drop(columns = ['RegionType', 'RegionID', 'SizeRank', 'StateName'], inplace = True)
zhvi_high['State'] = zhvi_high['State'].apply(lambda s: abbrev_to_state(s))
zhvi_high_clean = pd.merge(zhvi_high.iloc[:, 0:5], zhvi_high.iloc[:, 281:], left_index = True, right_index = True)
zhvi_high_clean.rename(columns={'RegionName':'county', 'State':'state'}, inplace=True)
zhvi_high_clean.to_csv('./data/zhvi_high_clean.csv', index = False)

In [389]:
zhvi_low = pd.read_csv('./data/zhvi_low.csv') 
zhvi_low.drop(columns = ['RegionType', 'RegionID', 'SizeRank', 'StateName'], inplace = True)
zhvi_low['State'] = zhvi_low['State'].apply(lambda s: abbrev_to_state(s))
zhvi_low_clean = pd.merge(zhvi_low.iloc[:, 0:5], zhvi_low.iloc[:, 281:], left_index = True, right_index = True)
zhvi_low_clean.rename(columns={'RegionName':'county', 'State':'state'}, inplace=True)
zhvi_low_clean.to_csv('./data/zhvi_low_clean.csv', index = False)

# census data

In [518]:
census_total = pd.read_csv('./data/census_clean.csv')

In [397]:
census.shape

(3193, 159)

In [396]:
census['county'].apply(lambda s: s if (not s in county_areas['county']) else None)

0                 Alabama
1          Autauga County
2          Baldwin County
3          Barbour County
4             Bibb County
              ...
3188    Sweetwater County
3189         Teton County
3190         Uinta County
3191      Washakie County
3192        Weston County
Name: county, Length: 3193, dtype: object

In [422]:
name_matching = list(zip(census['state'], census['county']))

In [423]:
len(name_matching)

3193

In [439]:
def match_county_names(zipped):
    newname = zipped[1]
    for item in name_matching:
        if item[0] == zipped[0]:
            if zipped[1] in item[1]:
                if zipped[1] == 'Manassas':
                    newname = 'Manassas County'
                elif zipped[1] == 'Manassas Park':
                    newname = 'Manassas Park city'
                else:
                    newname = item[1]
            
    return newname

In [466]:
county_areas = pd.read_csv('./data/county_areas_clean.csv')

In [472]:
county_areas.to_csv('./data/county_areas_clean.csv', index = False)

In [442]:
county_areas['zipped'] = list(zip(county_areas['state'], county_areas['county']))

In [426]:
county_areas['zipped'].apply(lambda s: match_county_names(s))

0          Autauga County
1          Baldwin County
2          Barbour County
3             Bibb County
4           Blount County
              ...
3141    Sweetwater County
3142         Teton County
3143         Uinta County
3144      Washakie County
3145        Weston County
Name: zipped, Length: 3146, dtype: object

In [444]:
county_areas['county'] = county_areas['zipped'].apply(lambda s: match_county_names(s))

In [ ]:
str.replace()

In [459]:
county_areas['county'] = county_areas['county'].apply(lambda s: s.replace(' city', ' City') if ' city' in s else s)

In [468]:
county_areas[county_areas['county'].apply(lambda s: True if ' City' in s else False)]

,county,area,state,zipped
77,Juneau City and Borough,3255.01,Alaska,"('Alaska', 'Juneau')"
88,Sitka City and Borough,4811.53,Alaska,"('Alaska', 'Sitka')"
93,Wrangell City and Borough,0.00,Alaska,"('Alaska', 'Wrangell')"
94,Yakutat City and Borough,9459.28,Alaska,"('Alaska', 'Yakutat')"
1216,Baltimore City,92.08,Maryland,"('Maryland', 'Baltimore city')"
1597,St. Louis City,66.15,Missouri,"('Missouri', 'St. Louis city')"
1764,Carson City,155.66,Nevada,"('Nevada', 'Carson City city')"
2839,Charles City County,204.22,Virginia,"('Virginia', 'Charles City')"
2840,Charlottesville City,477.44,Virginia,"('Virginia', 'Charlotte')"
2849,Fairfax City,406.61,Virginia,"('Virginia', 'Fairfax')"
2853,Franklin City,711.56,Virginia,"('Virginia', 'Franklin')"
2854,Fredericksburg City,415.62,Virginia,"('Virginia', 'Frederick')"
2867,James City County,179.71,Virginia,"('Virginia', 'James City')"
2896,Richmond City,216.38,Virginia,"('Virginia', 'Richmond')"
2897,Roanoke City,251.04,Virginia,"('Virginia', 'Roanoke')"
2916,Alexandria City,15.41,Virginia,"('Virginia', 'Alexandria')"
2918,Bristol City,13.16,Virginia,"('Virginia', 'Bristol')"
2919,Buena Vista City,6.83,Virginia,"('Virginia', 'Buena Vista')"
2920,Charlottesville City,10.26,Virginia,"('Virginia', 'Charlottesville')"
2921,Chesapeake City,350.90,Virginia,"('Virginia', 'Chesapeake')"
2923,Colonial Heights City,7.79,Virginia,"('Virginia', 'Colonial Heights')"
2924,Covington City,5.67,Virginia,"('Virginia', 'Covington')"
2925,Danville City,43.94,Virginia,"('Virginia', 'Danville')"
2926,Emporia City,6.97,Virginia,"('Virginia', 'Emporia')"
2927,Fairfax City,6.31,Virginia,"('Virginia', 'Fairfax')"
2928,Falls Church City,1.99,Virginia,"('Virginia', 'Falls Church')"
2929,Franklin City,8.40,Virginia,"('Virginia', 'Franklin')"
2930,Fredericksburg City,10.52,Virginia,"('Virginia', 'Fredericksburg')"
2931,Galax City,8.23,Virginia,"('Virginia', 'Galax')"
2932,Hampton City,136.23,Virginia,"('Virginia', 'Hampton')"
2933,Harrisonburg City,17.59,Virginia,"('Virginia', 'Harrisonburg')"
2934,Hopewell City,10.82,Virginia,"('Virginia', 'Hopewell')"
2935,Lexington City,2.49,Virginia,"('Virginia', 'Lexington')"
2936,Lynchburg City,49.76,Virginia,"('Virginia', 'Lynchburg')"
2938,Manassas Park City,2.49,Virginia,"('Virginia', 'Manassas Park')"
2939,Martinsville City,11.01,Virginia,"('Virginia', 'Martinsville')"
2940,Newport News City,119.05,Virginia,"('Virginia', 'Newport News')"
2941,Norfolk City,96.30,Virginia,"('Virginia', 'Norfolk')"
2942,Norton City,7.53,Virginia,"('Virginia', 'Norton')"
2943,Petersburg City,23.19,Virginia,"('Virginia', 'Petersburg')"
2944,Poquoson City,78.43,Virginia,"('Virginia', 'Poquoson')"
2945,Portsmouth City,46.62,Virginia,"('Virginia', 'Portsmouth')"
2946,Radford City,10.19,Virginia,"('Virginia', 'Radford')"
2947,Richmond City,62.55,Virginia,"('Virginia', 'Richmond')"
2948,Roanoke City,42.91,Virginia,"('Virginia', 'Roanoke')"
2949,Salem City,14.59,Virginia,"('Virginia', 'Salem')"
2951,Staunton City,19.71,Virginia,"('Virginia', 'Staunton')"
2952,Suffolk City,429.07,Virginia,"('Virginia', 'Suffolk')"
2953,Virginia Beach City,497.33,Virginia,"('Virginia', 'Virginia Beach')"
2954,Waynesboro City,15.38,Virginia,"('Virginia', 'Waynesboro')"
2955,Williamsburg City,8.67,Virginia,"('Virginia', 'Williamsburg')"
2956,Winchester City,9.33,Virginia,"('Virginia', 'Winchester')"

In [470]:
county_areas.drop(columns = 'zipped', inplace = True)

In [476]:
county_areas

                 county      area    state
0        Autauga County    604.45  Alabama
1        Baldwin County   2026.93  Alabama
2        Barbour County    904.52  Alabama
3           Bibb County    626.16  Alabama
4         Blount County    650.60  Alabama
...                 ...       ...      ...
3141  Sweetwater County  10491.17  Wyoming
3142       Teton County   4221.80  Wyoming
3143       Uinta County   2087.56  Wyoming
3144    Washakie County   2242.75  Wyoming
3145      Weston County   2400.07  Wyoming

[3146 rows x 3 columns]

In [490]:
census['county'] = census['county'].apply(lambda s: s.replace(' city', ' City') if ' city' in s else s)

In [499]:
census_state.to_csv('./data/state_census_clean.csv', index = False)

In [501]:
census = pd.read_csv('./data/county_census_clean.csv')

In [503]:
census

,state,county,POPESTIMATE2019,NPOPCHG_2019,NETMIG2010,NETMIG2011,NETMIG2012,NETMIG2013,NETMIG2014,NETMIG2015,NETMIG2016,NETMIG2017,NETMIG2018,NETMIG2019
0,Alabama,Autauga County,55869,336,172,331,-343,-214,108,-94,263,47,30,254
1,Alabama,Baldwin County,223234,5379,818,3076,3294,4380,3977,3564,4368,4705,5321,5377
2,Alabama,Barbour County,24686,-186,-70,8,-188,-220,-138,-417,-475,-637,-219,-128
3,Alabama,Bibb County,22394,27,-59,-114,-86,-131,30,30,-16,-73,-154,41
4,Alabama,Blount County,57826,55,7,12,-95,-20,-118,-77,-80,357,-4,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,Wyoming,Sweetwater County,42343,-515,-346,22,669,-208,-592,-617,-822,-1031,-809,-727
3137,Wyoming,Teton County,23464,195,-71,-55,41,511,282,107,29,-4,-290,42
3138,Wyoming,Uinta County,20226,-66,-58,-382,-94,-228,-314,-218,-238,-389,-276,-186
3139,Wyoming,Washakie County,7805,-72,10,-109,-26,-11,-158,0,-125,-129,-137,-65
3140,Wyoming,Weston County,6927,3,-29,-65,-75,44,3,66,5,-257,-48,18

In [525]:
demographics = pd.read_csv('./data/demographics.csv')

In [529]:
demographics = demographics[demographics['POPESTIMATE2019'].isnull() == False]

In [531]:
demographics = demographics[demographics['area'] != 0]

In [533]:
demographics.to_csv('./data/demographics.csv', index = False)

In [519]:
asdf = pd.merge(demographics, census_total, on = ['state', 'county'], how = 'left')

In [ ]:
pd.merge()

In [522]:
asdf

,state,county,POPESTIMATE2019_x,NPOPCHG_2019_x,NETMIG2010_x,NETMIG2011_x,NETMIG2012_x,NETMIG2013_x,NETMIG2014_x,NETMIG2015_x,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,Alabama,Autauga County,55869.0,336.0,172.0,331.0,-343.0,-214.0,108.0,-94.0,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
1,Alabama,Baldwin County,223234.0,5379.0,818.0,3076.0,3294.0,4380.0,3977.0,3564.0,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
2,Alabama,Barbour County,24686.0,-186.0,-70.0,8.0,-188.0,-220.0,-138.0,-417.0,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
3,Alabama,Bibb County,22394.0,27.0,-59.0,-114.0,-86.0,-131.0,30.0,30.0,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
4,Alabama,Blount County,57826.0,55.0,7.0,12.0,-95.0,-20.0,-118.0,-77.0,...,1.020788,0.208812,-1.650165,-0.347225,-2.049590,-1.338525,-1.391062,6.193562,-0.069229,1.124597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,Wyoming,Sweetwater County,42343.0,-515.0,-346.0,22.0,669.0,-208.0,-592.0,-617.0,...,-17.605427,0.502513,15.035735,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3143,Wyoming,Teton County,23464.0,195.0,-71.0,-55.0,41.0,511.0,282.0,107.0,...,-1.583464,-2.575509,1.905293,23.259519,12.508872,4.670450,1.253214,-0.171608,-12.432212,1.797445
3144,Wyoming,Uinta County,20226.0,-66.0,-58.0,-382.0,-94.0,-228.0,-314.0,-218.0,...,-9.181105,-18.196975,-4.487730,-10.870861,-15.033634,-10.484550,-11.485101,-18.923455,-13.554993,-9.181105
3145,Wyoming,Washakie County,7805.0,-72.0,10.0,-109.0,-26.0,-11.0,-158.0,0.0,...,-7.652085,-12.839390,-3.084589,-1.307811,-18.938032,0.000000,-15.204038,-15.950541,-17.246806,-8.289759
3146,Wyoming,Weston County,6927.0,3.0,-29.0,-65.0,-75.0,44.0,3.0,66.0,...,0.000000,-9.065551,-10.549265,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.599090